id2xml loops for some input files

E.g.: RFC 1302, RFC 1304, RFC 1354, RFC 2209, RFC 3058.

consider going the route of converting things to markdown and then using kramdown-rfc to get to the xml.
id2xml has a long way to go to be generally useful.

Sure, but the issue here is not the quality of the output, but the fact that its loops forever for some RFCs (there another bug where it crashes, I'll open a separate issue for that).

oh yes, I didn't mean to imply the issue wasn't invalid - I only wanted to help you not waste too much time as the output once it _doesn't_ loop or crash may not be particularly useful...

Thanks.