xml2rfc - Did not expect element artwork there, at /rfc/front/abstract/artwork

For some reason when converting my text I-D to XML (or even Validate) using the tools at author-tools.ietf.org, I get the error "Did not expect element artwork there, at /rfc/front/abstract/artwork. Invalid document before running preptool".

After a little research, I learned that <abstract> must contain at least one <t>.  But the xml2rfc tool uses the <artwork> tag.

If I manually edit the XML to change the <artwork> to a <t>, the error is no longer displayed on Validate.  However, if click HTML or PDF, I get:
    xml2rfc error: html/pdf generation error

Any ideas?


I-D text follows (drag/drop failed):



Payload Working Group                                    D. Hanson
Internet Draft                                           M. Faller
Intended status: Standards Track                          K. Maver
Expires: February 9, 2023         General Dynamics Mission Systems
                                                    August 8, 2022



              RTP Payload Format for the SCIP Codec
                  draft-ietf-avtcore-rtp-scip-03



Abstract

   This document describes the RTP payload format of the Secure
   Communication Interoperability Protocol (SCIP) as audio and
   video media subtypes.  It provides RFC 6838 compliant media
   subtype definitions.  SCIP-210 describes the protocols that
   comprise the content of the SCIP RTP packet payload.  This
   document follows the registration for related media types
   called "audio/scip" and "video/scip" with IANA and formatted
   according to RFC 4855.

Status of this Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet
   Engineering Task Force (IETF).  Note that other groups may also
   distribute working documents as Internet-Drafts.  The list of
   current Internet-Drafts is at
   http://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six
   months and may be updated, replaced, or obsoleted by other
   documents at any time.  It is inappropriate to use Internet-
   Drafts as reference material or to cite them other than as
   "work in progress."

   This Internet-Draft will expire on February 9, 2023.

Copyright Notice

   Copyright (c) 2022 IETF Trust and the persons identified as the
   document authors.  All rights reserved.



Hanson, Faller, Maver  Expires February 9, 2023           [Page 1]

Internet-Draft         SCIP RTP Payload Format        August 2022


   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents
   (https://trustee.ietf.org/license-info) in effect on the date
   of publication of this document.  Please review these documents
   carefully, as they describe your rights and restrictions with
   respect to this document.  Code Components extracted from this
   document must include Simplified BSD License text as described
   in Section 4.e of the Trust Legal Provisions and are provided
   without warranty as described in the Simplified BSD License.

Table of Contents

   1. Introduction............................................... 2
      1.1. Conventions........................................... 3
      1.2. Abbreviations......................................... 3
   2. Background................................................. 3
   3. Media Format Description................................... 4
   4. Payload Format............................................. 5
      4.1. RTP Header Fields..................................... 5
   5. Payload Format Parameters.................................. 5
      5.1. Media Subtype "audio/scip"............................ 6
      5.2. Media Subtype "video/scip"............................ 7
      5.3. Mapping to SDP........................................ 8
      5.4. SDP Offer/Answer Considerations....................... 9
   6. Security Considerations.................................... 9
   7. IANA Considerations........................................ 9
   8. References................................................ 10
      8.1. Normative References................................. 10
      8.2. Informative References............................... 11
   9. Authors' Addresses........................................ 12
      9.1. Change Controller Address............................ 13

1. Introduction

   The IANA registration of media subtype types in the IETF tree
   created two similar media subtypes "scip" under the audio and
   video media types [AUDIOSCIP], [VIDEOSCIP].  These media
   subtype definitions also appear in Section 5.  This document,
   as the common top-level reference, provides information on
   their similarities and differences and the usage of those media
   subtypes.

   This document details usage of the scip pseudo-codec as a
   secure session establishment protocol and transport protocol
   over RTP.  It provides a reference for network security
   policymakers, network equipment OEMs, procurement personnel,
   and government agency and commercial industry representatives.


Hanson, Faller, Maver  Expires February 9, 2023           [Page 2]

Internet-Draft         SCIP RTP Payload Format        August 2022


1.1. Conventions

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL
   NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED",
   "MAY", and OPTIONAL" in this document are to be interpreted as
   described in BCP 14 [RFC2119] [RFC8174] when, and only when,
   they appear in all capitals, as shown here.

   Best current practices for writing an RTP payload format
   specification were followed [RFC2736] [RFC8088].

   When referring to the Secure Communication Interoperability
   Protocol, the uppercase acronym "SCIP" is used.  When referring
   to the media subtype scip, lowercase "scip" is used.

1.2. Abbreviations

   The following abbreviations are used in this document.

     AVP:     Audio/Video Profile
     DTX:     Discontinuous Transmission
     ICWG:    Interoperability Control Working Group
     IICWG:   International Interoperability Control Working Group
     NATO:    North Atlantic Treaty Organization
     SCIP:    Secure Communication Interoperability Protocol
     SDP:     Session Description Protocol

2. Background

   The Secure Communication Interoperability Protocol (SCIP)
   allows the negotiation of several voice, data, and video
   applications using various encryption suites.  SCIP also
   provides several important characteristics that have led to its
   broad acceptance in the international user community.  These
   features include end-to-end security at the application layer,
   authentication of user identity, the ability to apply different
   security levels for each secure session, and secure
   communication over any end-to-end data connection.

   SCIP began in the U.S. as the Future Narrowband Digital
   Terminal (FNBDT) Protocol.  A combined Department of Defense
   and vendor consortium formed a governing organization named the
   Interoperability Control Working Group (ICWG) to manage the
   protocol.  In time, the group expanded to include NATO, NATO
   partners and European vendors under the name International



Hanson, Faller, Maver  Expires February 9, 2023           [Page 3]

Internet-Draft         SCIP RTP Payload Format        August 2022


   Interoperability Control Working Group (IICWG), which was later
   renamed the SCIP Working Group.

   SCIP is presently implemented in U.S. and NATO secure voice,
   video, and data products operating on commercial, private, and
   tactical IP networks worldwide using the scip media subtype.
   First generation SCIP devices operated on circuit-switched
   networks.  SCIP was then expanded to radio and IP networks.
   The scip media subtype transports SCIP secure session
   establishment signaling and secure application traffic.  The
   built-in negotiation and flexibility provided by the SCIP
   standards make it a natural choice for many scenarios that
   require various secure applications and associated encryption
   suites.  SCIP has been endorsed by many nations as the secure
   end-to-end solution for secure voice, video, and data devices.
   SCIP standards are currently available to participating
   government/military communities and select OEMs of equipment
   that support SCIP.

   However, SCIP must operate over global networks (including
   private and commercial networks).  Without access to necessary
   information to support SCIP, some networks may not support the
   SCIP media subtypes.  Issues may occur simply because
   information is not as readily available to OEMs, network
   administrators, and network architects.

   This RFC provides essential information about audio/scip and
   video/scip media subtypes that enables network equipment
   manufacturers to include scip as a known audio and video media
   subtype in their equipment and enables network administrators
   to define and implement a compatible security policy.

   All current IP-based SCIP devices support "scip" as a media
   subtype.  Registration of scip as a media subtype provides a
   common reference for network equipment manufacturers to
   recognize SCIP in a payload declaration.

3. Media Format Description

   The "scip" media subtype indicates support for and identifies
   SCIP traffic that is being transferred using RTP.  Transcoding,
   lossy compression, or other data modifications MUST NOT be
   performed on the SCIP RTP payload.  The audio/scip and
   video/scip media subtype data streams within the network,
   including the VoIP network, MUST be a transparent relay and be
   treated as "clear-channel data", similar to the Clearmode media
   subtype defined by RFC 4040.  However, Clearmode is defined as


Hanson, Faller, Maver  Expires February 9, 2023           [Page 4]

Internet-Draft         SCIP RTP Payload Format        August 2022


   a gateway protocol and limited to a sample rate of 8000 Hz and
   64kbps bandwidth only [RFC4040].  Clearmode is not defined for
   the higher sample and data rates required for some SCIP
   traffic.

4. Payload Format

   The RTP Packet content of SCIP traffic is dependent upon the
   SCIP session state.  SCIP secure session establishment uses
   protocols defined in SCIP-210 [SCIP210] to negotiate an
   application.  SCIP secure traffic may consist of the encrypted
   output of codecs such as MELPe [RFC8130], G.729D [RFC3551],
   H.264 [RFC6184], or other media encodings, based on the
   application negotiated during SCIP secure session
   establishment.  SCIP traffic is highly variable and the bit
   rate specified in the SDP [RFC8866] is OPTIONAL since
   discontinuous transmission (DTX) or other mechanisms may be
   used.  The SCIP payload size will vary, especially during SCIP
   secure session establishment.

4.1. RTP Header Fields

   The SCIP RTP header fields SHALL conform to RFC 3550.

   SCIP traffic may be continuous or discontinuous.  The Timestamp
   field MUST increment based on the sampling clock for
   discontinuous transmission as described in [RFC3550], Section
   5.1.  The Timestamp field for continuous transmission
   applications is dependent on the sampling rate of the media as
   specified in the media subtype's specification (e.g., MELPe
   [RFC8130]).  Note that during a call, both discontinuous and
   continuous traffic are highly probable.  Therefore, a jitter
   buffer MAY be implemented in endpoint devices only but SHOULD
   NOT be implemented in network devices.  Additionally, network
   devices SHOULD NOT repacketize SCIP packets.

   The Marker bit SHALL be set to zero for discontinuous traffic.
   The Marker bit for continuous traffic is based on the
   underlying media subtype specification.  The underlying media
   is opaque within SCIP RTP packets.

5. Payload Format Parameters

   The SCIP RTP payload format is identified using the scip media
   subtype, which is registered in accordance with [RFC4855] and
   per the media type registration template form [RFC6838].  A



Hanson, Faller, Maver  Expires February 9, 2023           [Page 5]

Internet-Draft         SCIP RTP Payload Format        August 2022


   clock rate of 8000 Hz SHALL be used for "audio/scip".  A clock
   rate of 90000 Hz SHALL be used for "video/scip".

5.1. Media Subtype "audio/scip"

   Media type name: audio

   Media subtype name: scip

   Required parameters: N/A

   Optional parameters: N/A

   Encoding considerations: Binary.  This media subtype is only
   defined for transfer via RTP.  There SHALL be no
   encoding/decoding (transcoding) of the audio stream as it
   traverses the network.

   Security considerations: See Section 6.

   Interoperability considerations: N/A

   Published specifications: [SCIP210]

   Applications which use this media: N/A

   Fragment Identifier considerations: none

   Restrictions on usage: N/A

   Additional information:

      1. Deprecated alias names for this type: N/A

      2. Magic number(s): N/A

      3. File extension(s): N/A

      4. Macintosh file type code: N/A

      5. Object Identifiers: N/A

   Person to contact for further information:

      1. Name: Michael Faller and Daniel Hanson

      2. Email: michael.faller@gd-ms.com and dan.hanson@gd-ms.com


Hanson, Faller, Maver  Expires February 9, 2023           [Page 6]

Internet-Draft         SCIP RTP Payload Format        August 2022


   Intended usage: Common, Government and Military

   Authors:

      Michael Faller - michael.faller@gd-ms.com

      Daniel Hanson - dan.hanson@gd-ms.com

   Change controller:

      SCIP Working Group - ncia.cis3@ncia.nato.int

5.2. Media Subtype "video/scip"

   Media type name: video

   Media subtype name: scip

   Required parameters: N/A

   Optional parameters: N/A

   Encoding considerations: Binary.  This media subtype is only
   defined for transfer via RTP.  There SHALL be no
   encoding/decoding (transcoding) of the video stream as it
   traverses the network.

   Security considerations: See Section 6.

   Interoperability considerations: N/A

   Published specifications: [SCIP210]

   Applications which use this media: N/A

   Fragment Identifier considerations: none

   Restrictions on usage: N/A

   Additional information:

      1. Deprecated alias names for this type: N/A

      2. Magic number(s): N/A

      3. File extension(s): N/A



Hanson, Faller, Maver  Expires February 9, 2023           [Page 7]

Internet-Draft         SCIP RTP Payload Format        August 2022


      4. Macintosh file type code: N/A

      5. Object Identifiers: N/A

   Person to contact for further information:

      1. Name: Michael Faller and Daniel Hanson

      2. Email: michael.faller@gd-ms.com and dan.hanson@gd-ms.com

   Intended usage: Common, Government and Military

   Authors:

      Michael Faller - michael.faller@gd-ms.com

      Daniel Hanson - dan.hanson@gd-ms.com

   Change controller:

      SCIP Working Group - ncia.cis3@ncia.nato.int

5.3. Mapping to SDP

   The mapping of the above defined payload format media subtype
   and its parameters SHALL be implemented according to Section 3
   of [RFC4855].

   An example mapping for audio/scip is:

      m=audio 50000 RTP/AVP 96
      a=rtpmap:96 scip/8000

   An example mapping for video/scip is:

      m=video 50002 RTP/AVP 97
      a=rtpmap:97 scip/90000

   An example mapping for both audio/scip and video/scip is:

      m=audio 50000 RTP/AVP 96
      a=rtpmap:96 scip/8000
      m=video 50002 RTP/AVP 97
      a=rtpmap:97 scip/90000




Hanson, Faller, Maver  Expires February 9, 2023           [Page 8]

Internet-Draft         SCIP RTP Payload Format        August 2022


   The application negotiation between endpoints will determine
   whether the audio and video streams are transported as separate
   streams over the audio and video payload types or as a single
   media stream on the video payload type.

5.4. SDP Offer/Answer Considerations

   In accordance with the SDP Offer/Answer model [RFC3264], the
   SCIP device SHALL list the SCIP payload type in order of
   preference in the "m" media line.

6. Security Considerations

   RTP packets using the payload format defined in this
   specification are subject to the security considerations
   discussed in the RTP specification [RFC3550], and in any
   applicable RTP profile such as RTP/AVP [RFC3551], RTP/AVPF
   [RFC4585], RTP/SAVP [RFC3711], or RTP/ SAVPF [RFC5124].
   However, as "Securing the RTP Protocol Framework: Why RTP Does
   Not Mandate a Single Media Security Solution" [RFC7202]
   discusses, it is not an RTP payload format's responsibility to
   discuss or mandate what solutions are used to meet the basic
   security goals like confidentiality, integrity, and source
   authenticity for RTP in general.  This responsibility lays on
   anyone using RTP in an application.  They can find guidance on
   available security mechanisms and important considerations in
   "Options for Securing RTP Sessions" [RFC7201].  Applications
   SHOULD use one or more appropriate strong security mechanisms.
   The rest of this Security Considerations section discusses the
   security impacting properties of the payload format itself.

   This RTP payload format and its media decoder do not exhibit
   any significant non-uniformity in the receiver-side
   computational complexity for packet processing, and thus do not
   inherently pose a denial-of-service threat due to the receipt
   of pathological data.  Nor does the RTP payload format contain
   any active content.

7. IANA Considerations

   The audio/scip and video/scip media subtypes have previously
   been registered with IANA [AUDIOSCIP] [VIDEOSCIP].  IANA should
   update [AUDIOSCIP] and [VIDEOSCIP] to reference this document
   upon publication.





Hanson, Faller, Maver  Expires February 9, 2023           [Page 9]

Internet-Draft         SCIP RTP Payload Format        August 2022


8. References

8.1. Normative References

   [AUDIOSCIP] Faller, M., and D. Hanson, "audio/scip", Internet
               Assigned Numbers Authority (IANA), 28 January 2021,
               <https://www.iana.org/assignments/media-
               types/audio/scip>.

   [RFC2119]   Bradner, S., "Key words for use in RFCs to Indicate
               Requirement Levels", BCP 14, RFC 2119, DOI
               10.17487/RFC2119, March 1997, <https://www.rfc-
               editor.org/info/rfc2119>.

   [RFC2736]   Handley, M. and C. Perkins, "Guidelines for Writers
               of RTP Payload Format Specifications", BCP 36, RFC
               2736, DOI 10.17487/RFC2736, December 1999,
               <https://www.rfc-editor.org/info/rfc2736>.

   [RFC3264]   Rosenberg, J., and H. Schulzrinne, "An Offer/Answer
               Model with Session Description Protocol (SDP)", RFC
               3264, June 2002, <https://www.rfc-
               editor.org/info/rfc3264>.

   [RFC3550]   Schulzrinne, H., Casner, S., Frederick, R., and V.
               Jacobson, "RTP: A Transport Protocol for Real-Time
               Applications", STD 64, RFC 3550, July 2003,
               <https://www.rfc-editor.org/info/rfc3550>.

   [RFC3551]  Schulzrinne, H., and S. Casner, "RTP Profile for
               Audio and Video Conferences with Minimal Control",
               RFC 3551, July 2003, <https://www.rfc-
               editor.org/info/rfc3551>.

   [RFC3711]  Baugher, M., McGrew, D., Naslund M., Carrara, E.,
               and K. Norrman, "The Secure Real-time Transport
               Protocol (SRTP)", RFC 3711, March 2004,
               <https://www.rfc-editor.org/info/rfc3711>.

   [RFC4585]   Ott, J., Wenger, S., Sato, N., Burmeister, C., and
               J. Rey, "Extended RTP Profile for Real-time
               Transport Control Protocol (RTCP)-Based Feedback
               (RTP/AVPF)", RFC 4585, DOI 10.17487/RFC4585, July
               2006, <https://www.rfc-editor.org/info/rfc4585>.

   [RFC5124]   Ott, J. and E. Carrara, "Extended Secure RTP
               Profile for Real-time Transport Control Protocol


Hanson, Faller, Maver  Expires February 9, 2023          [Page 10]

Internet-Draft         SCIP RTP Payload Format        August 2022


               (RTCP)-Based Feedback (RTP/SAVPF)", RFC 5124, DOI
               10.17487/RFC5124, February 2008, <https://www.rfc-
               editor.org/info/rfc5124>.

   [RFC8174]   Leiba, B., "Ambiguity of Uppercase vs Lowercase in
               RFC 2119 Key Words", BCP 14, RFC 8174, DOI
               10.17487/RFC8174, May 2017, <https://www.rfc-
               editor.org/info/rfc8174>.

   [RFC8866]   Begen, A., Kyzivat P., Perkins C., and M. Handley,
               "SDP: Session Description Protocol", RFC 8866,
               January 2021, <https://www.rfc-
               editor.org/info/rfc8866>.

   [VIDEOSCIP] Faller, M., and D. Hanson, "video/scip", Internet
               Assigned Numbers Authority (IANA), 28 January 2021,
               <https://www.iana.org/assignments/media-
               types/video/scip>.

8.2. Informative References

   [RFC4040]   Kreuter, R., "RTP Payload Format for a 64 kbit/s
               Transparent Call", RFC 4040, April 2005,
               <https://www.rfc-editor.org/info/rfc4040>.

   [RFC4855]   Casner, S., "Media Type Registration of RTP Payload
               Formats", RFC 4855, February 2007,
               <https://www.rfc-editor.org/info/rfc4855>.

   [RFC6184]   Wang, Y., Even, R., et al. "RTP Payload Format for
               H.264 Video", RFC 6184, May 2011, <https://www.rfc-
               editor.org/info/rfc6184>.

   [RFC6838]   Freed, N., Klensin, J., and T. Hansen, "Media Type
               Specifications and Registration Procedures", BCP
               13, RFC 6838, January 2013, <https://www.rfc-
               editor.org/info/rfc6838>.

   [RFC7201]   Westerlund, M. and C. Perkins, "Options for
               Securing RTP Sessions", RFC 7201, DOI
               10.17487/RFC7201, April 2014, <https://www.rfc-
               editor.org/info/rfc7201>.

   [RFC7202]   Perkins, C. and M. Westerlund, "Securing the RTP
               Framework: Why RTP Does Not Mandate a Single Media
               Security Solution", RFC 7202, DOI 10.17487/RFC7202,



Hanson, Faller, Maver  Expires February 9, 2023          [Page 11]

Internet-Draft         SCIP RTP Payload Format        August 2022


               April 2014, <https://www.rfc-
               editor.org/info/rfc7202>.

   [RFC8088]   Westerlund, M., "How to Write an RTP Payload
               Format", RFC 8088, DOI 10.17487/RFC8088, May 2017,
               <https://www.rfc-editor.org/info/rfc8088>.

   [RFC8130]   Demjanenko, V., and D. Satterlee, "RTP Payload
               Format for MELPe Codec", RFC 8130, March 2017,
               <https://www.rfc-editor.org/info/rfc8130>.

   [SCIP210]   National Security Agency, "SCIP Signaling Plan,
               Revision 3.10", SCIP-210, October 2017.



9. Authors' Addresses

   Daniel Hanson
   General Dynamics Mission Systems, Inc.
   150 Rustcraft Road
   Dedham, MA 02026, USA
   E-mail: dan.hanson@gd-ms.com

   Michael Faller
   General Dynamics Mission Systems, Inc.
   150 Rustcraft Road
   Dedham, MA 02026, USA
   E-mail: michael.faller@gd-ms.com

   Keith Maver
   General Dynamics Mission Systems, Inc.
   150 Rustcraft Road
   Dedham, MA 02026, USA
   E-mail: keith.maver@gd-ms.com











Hanson, Faller, Maver  Expires February 9, 2023          [Page 12]

Internet-Draft         SCIP RTP Payload Format        August 2022


9.1. Change Controller Address

   SCIP Working Group, CIS3 Partnership
   NATO Communications and Information Agency
   Oude Waalsdorperweg 61, 2597AK
   The Hague, The Netherlands
   E-mail: ncia.cis3@ncia.nato.int









































Hanson, Faller, Maver  Expires February 9, 2023          [Page 13]



id2xml is heuristic-based, and while heuristics can always be tuned, it will never be able to correctly guess the intention of every indented text section. It is expected that the user would likely need to adjust its guesses before ending up with an xml document that reflected the semantic intent implied by the text (and validate).

Robert,

Thanks for the reply.  Even after changing the tag from artwork to t, when I try to generate either text, HTML, or PDF, I get the generic error message "xml2rfc error: *** generation error", where *** is text, HTML, or PDF.  Pressing Validate produces no idnits errors with a few warning messages (falsely claiming unused references).

I want to be able to submit my I-D in XML format rather than plain text but the submission page rejects the XML.


Dan Hanson
General Dynamics Mission Systems

From: Robert Sparks ***@***.***>
Sent: Tuesday, August 09, 2022 8:59 AM
To: ietf-tools/id2xml ***@***.***>
Cc: Hanson, Daniel C ***@***.***>; Author ***@***.***>
Subject: Re: [ietf-tools/id2xml] xml2rfc - Did not expect element artwork there, at /rfc/front/abstract/artwork (Issue #11)

External E-mail --- CAUTION: This email originated from outside GDMS. Do not click links or open attachments unless you recognize the sender and know the content is safe.


id2xml is heuristic-based, and while heuristics can always be tuned, it will never be able to correctly guess the intention of every indented text section. It is expected that the user would likely need to adjust its guesses before ending up with an xml document that reflected the semantic intent implied by the text (and validate).

-
Reply to this email directly, view it on GitHub<https://github.com/ietf-tools/id2xml/issues/11#issuecomment-1209349879>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/A2NW6M3O2Y5E7GPSMJ73KGDVYJIYHANCNFSM557HN6KA>.
You are receiving this because you authored the thread.Message ID: ***@***.***>


Once you have working xml, do you plan to stay with the xml and use it (and not whatever is currently producing the text version) for future versions? Have you considered moving to kramdown and managing your draft that way instead?

I can help you with a one time conversion to xml if you want to author in xml going forward.

I could also help you move to kramdown, but that should be even easier and you may be able to do that yourself.
(If you decide to use kramdown, and if you are comfortable with github workflows, consider using https://github.com/martinthomson/i-d-template/blob/main/doc/TEMPLATE.md).

Robert,

I am writing the I-D using the MS Word template, printing to generic text, then running the RFC 5385 postprocessing perl script. Finally running the tools on https://author-tools.ietf.org/ to convert to XML.

I don't mind tweaking the XML to fix the abstract issue, but there are still unknown error(s) that result in the non-specific "generation error" message.  It would be nice to known what those unknown error(s) are so they can be fixed.


Regards,
Dan Hanson
General Dynamics Mission Systems

From: Robert Sparks ***@***.***>
Sent: Tuesday, August 09, 2022 1:25 PM
To: ietf-tools/id2xml ***@***.***>
Cc: Hanson, Daniel C ***@***.***>; Author ***@***.***>
Subject: Re: [ietf-tools/id2xml] xml2rfc - Did not expect element artwork there, at /rfc/front/abstract/artwork (Issue #11)

External E-mail --- CAUTION: This email originated from outside GDMS. Do not click links or open attachments unless you recognize the sender and know the content is safe.


Once you have working xml, do you plan to stay with the xml and use it (and not whatever is currently producing the text version) for future versions? Have you considered moving to kramdown and managing your draft that way instead?

I can help you with a one time conversion to xml if you want to author in xml going forward.

I could also help you move to kramdown, but that should be even easier and you may be able to do that yourself.
(If you decide to use kramdown, and if you are comfortable with github workflows, consider using https://github.com/martinthomson/i-d-template/blob/main/doc/TEMPLATE.md).

-
Reply to this email directly, view it on GitHub<https://github.com/ietf-tools/id2xml/issues/11#issuecomment-1209660016>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/A2NW6M56JRXKZDGNRHVQGZ3VYKH6VANCNFSM557HN6KA>.
You are receiving this because you authored the thread.Message ID: ***@***.******@***.***>>


Please seriously consider moving to kramdown (you can use MS word to collaboratively edit the kramdown if you want). That would remove, in the long run, the step of manually repairing the heuristic conversion of txt to xml for every version if you are truly wanting to submit in xml.

I'll make a run at straightening the conversion of this particular version when time allows (it might be later in the week) so you can see what had to be touched, and send you the results by email.

@danhanson-gdms I sent a set of files directly to you by email - let me know if anything prevented them from reaching you.

Robert,

Yes, I got the files.  I will investigate kramdown and see what it would take to implement.  Hopefully we are near the end of our document update process, so it may be easier to tweak the XML file with any minor updates.  As long as I have an XML file that will be accepted by the submission tool, then that is really all I need.


Thanks for your help,
Dan Hanson
General Dynamics Mission Systems

From: Robert Sparks ***@***.***>
Sent: Thursday, August 11, 2022 3:40 PM
To: ietf-tools/id2xml ***@***.***>
Cc: Hanson, Daniel C ***@***.***>; Mention ***@***.***>
Subject: Re: [ietf-tools/id2xml] xml2rfc - Did not expect element artwork there, at /rfc/front/abstract/artwork (Issue #11)

External E-mail --- CAUTION: This email originated from outside GDMS. Do not click links or open attachments unless you recognize the sender and know the content is safe.


@danhanson-gdms<https://github.com/danhanson-gdms> I sent a set of files directly to you by email - let me know if anything prevented them from reaching you.

-
Reply to this email directly, view it on GitHub<https://github.com/ietf-tools/id2xml/issues/11#issuecomment-1212412596>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/A2NW6M7S32R37NNQWYEFOZ3VYVJJXANCNFSM557HN6KA>.
You are receiving this because you were mentioned.Message ID: ***@***.******@***.***>>


Hi Dan, I'm going to close this issue. If you need further assistance, please reach out to me directly.